.root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  font-family: var(--isc-font-family);
  font-size: 11px;
  color: var(--isc-text-secondary);
  text-transform: uppercase;
}
